Repository ChipiKaf/html-to-document: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore: install prettier and format
  .lintstagedrc.json
  package.json
  packages/adapters/docx/CHANGELOG.md
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/types.ts
  packages/adapters/pdf/CHANGELOG.md
  packages/core/__tests__/parser.test.ts
  packages/core/src/style.mapper.ts
  packages/core/src/utils/html.serializer.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore(core): docx as peer dependency
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(demo): add pdf adapter as dependency
  demo/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: switch from jest to vitest
  .lintstagedrc.json
  CONTRIBUTING.md
  jest.config.js
  package.json
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/__tests__/docx.util.test.ts
  packages/adapters/docx/package.json
  packages/adapters/docx/vitest.config.ts
  packages/adapters/pdf/__tests__/pdf.adapter.test.ts
  packages/adapters/pdf/__tests__/pdf.util.test.ts
  packages/adapters/pdf/package.json
  packages/adapters/pdf/vitest.config.ts
  packages/core/__tests__/converter.registry.test.ts
  packages/core/__tests__/converter.test.ts
  packages/core/__tests__/html.serializer.test.ts
  packages/core/__tests__/html.utils.test.ts
  packages/core/__tests__/middleware.manager.test.ts
  packages/core/__tests__/minify.middleware.test.ts
  packages/core/__tests__/parser.test.ts
  packages/core/__tests__/style-mapping.registry.test.ts
  packages/core/__tests__/style.mapper.test.ts
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/deconverters/pdf/__tests__/pdf.deconverter.test.ts
  packages/deconverters/pdf/package.json
  packages/deconverters/pdf/vitest.config.ts
  packages/e2e-tests/__tests__/docx.test.ts
  packages/e2e-tests/__tests__/init.test.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/vitest.config.ts
  packages/html-to-document/package.json
  packages/html-to-document/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore: fix some dependency issues with pnpm
  demo/package.json
  demo/tsconfig.json
  docs/package.json
  packages/adapters/docx/package.json
  packages/adapters/docx/tsconfig.json
  packages/adapters/pdf/package.json
  packages/adapters/pdf/tsconfig.json
  packages/core/tsconfig.json
  packages/deconverters/pdf/package.json
  packages/deconverters/pdf/tsconfig.json
  packages/html-to-document/package.json
  packages/html-to-document/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: added changeset for switch to pnpm
  .changeset/moody-news-move.md
Due: prettier --write

chore: move peer internal dependencies to dependencies
  packages/adapters/docx/package.json
  packages/adapters/pdf/package.json
  packages/deconverters/pdf/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: change changeset from minor to patch version
  .changeset/moody-news-move.md
Due: prettier --write

chore: added test:watch command in root
  package.json
Due: prettier --write

chore(demo): added docx export in playground
  demo/playground.html
  demo/src/playground.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore: added changeset script and updated CONTRIBUTING.md
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(docx-adapter): support paragraphs within lists
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/converter.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

ci: added create snapshot workflow
  .github/workflows/snapshot.yml
Due: none

chore: remove conditional exports
  .changeset/smart-hounds-work.md
  packages/adapters/docx/package.json
  packages/adapters/pdf/package.json
  packages/core/package.json
  packages/html-to-document/package.json
Due: prettier --write

feat(docx): can now modify document options
  .changeset/sour-cougars-stare.md
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/docx.types.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

feat: improved types and added intelisense for adapter config
  .changeset/petite-ravens-retire.md
  packages/core/src/converter.ts
  packages/core/src/parser.ts
  packages/core/src/types.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

feat(docx): export element converters
  .changeset/wicked-worlds-nail.md
  packages/adapters/docx/package.json
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/docx.types.ts
  packages/adapters/docx/src/element-converters/block/index.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/index.ts
  packages/adapters/docx/src/element-converters/index.ts
  packages/adapters/docx/src/element-converters/inline/index.ts
  packages/adapters/docx/src/index.ts
  packages/e2e-tests/__tests__/docx/docx.test.ts
  packages/e2e-tests/__tests__/docx/element-converters.test.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

wip
  demo/vite.config.ts
  packages/adapters/pdf/package.json
  packages/adapters/pdf/src/pdf.adapter.ts
  packages/adapters/pdf/src/pdfkit-standalone.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore(package.json): added dev script
  package.json
  packages/core/package.json
Due: prettier --write

feat: table row height and min height
  .changeset/cute-papayas-float.md
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/core/src/style.mapper.ts
  packages/core/src/utils/types.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

fix(core): height typo
  packages/core/__tests__/style.mapper.test.ts
  packages/core/src/style.mapper.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

feat: introduce style scoping for document elements and implement style inheritance
  eslint.config.js
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/core/__tests__/minify.middleware.test.ts
  packages/core/__tests__/parser.test.ts
  packages/core/src/index.ts
  packages/core/src/parser.ts
  packages/core/src/styles/style-inheritance.test.ts
  packages/core/src/styles/style-inheritance.ts
  packages/core/src/types.ts
  packages/core/tsconfig.lint.json
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

refactor: standardize cascaded style application across element converters
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/adapters/docx/src/element-converters/inline/text.ts
  packages/core/src/styles/style-inheritance.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

feat: enhance type safety for style properties
  packages/core/src/styles/style-inheritance.ts
  packages/core/src/types.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

refactor: consolidate typeScript configurations
  eslint.config.js
  packages/core/__tests__/style-inheritance.test.ts
  packages/core/tsconfig.json
  packages/core/tsconfig.lint.json
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore: update tsconfig to exclude test
  packages/core/tsconfig.json
Due: prettier --write

chore: remove unnecessary comments from the style inheritance test
  packages/core/__tests__/style-inheritance.test.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore(docx): webpack ignore node.js imports
  .changeset/yummy-jobs-film.md
  packages/adapters/docx/src/docx.adapter.ts
Due: eslint --fix, prettier --write, pnpm run test -- --findRelatedTests

chore: remove `workspaces` field from package.json
  package.json
Due: prettier --write

chore: update pnpm dependencies
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  pnpm run test -- --findRelatedTests: any of: *.{js,jsx,ts,tsx}
