Repository ChipiKaf/html-to-document: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix(docx-adapter): added fallback to inline element handlers (#21)
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/docx.adapter.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: added noUncheckedIndexAccess to tsconfig (#22)
  jest.config.js
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/docx.util.ts
  packages/adapters/pdf/src/pdf.adapter.ts
  packages/core/src/middleware/minify.middleware.ts
  packages/core/src/parser.ts
  packages/core/src/style.mapper.ts
  packages/core/src/utils/html.serializer.ts
  tsconfig.base.json
  tsconfig.test.json
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

Format lint improvement (#23)
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/adapters/docx/CHANGELOG.md
  packages/adapters/docx/README.md
  packages/adapters/pdf/CHANGELOG.md
  packages/adapters/pdf/README.md
  packages/core/CHANGELOG.md
  packages/core/__tests__/html.serializer.test.ts
  packages/deconverters/pdf/__tests__/pdf.deconverter.test.ts
  packages/deconverters/pdf/src/pdf.deconverter.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: fix format:check script
  package.json
Due: prettier --write

wip
  packages/adapters/docx/src/element-converters/block-converter.interface.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/line.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/inline/link.ts
  packages/adapters/docx/src/element-converters/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip adding converters
  eslint.config.js
  packages/adapters/docx/src/element-converters/block-converter.interface.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/line.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/inline/link.ts
  packages/adapters/docx/src/element-converters/inline/text.ts
  packages/adapters/docx/src/element-converters/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: Added playground to demo
  demo/playground.html
  demo/src/playground.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/inline/link.ts
  packages/adapters/docx/src/element-converters/inline/text.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip added table converter
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/adapters/docx/src/element-converters/converter.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip
  packages/adapters/docx/src/docx.adapter.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip adding id converter
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/element-converters/block/id.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/README.md
  packages/adapters/docx/src/element-converters/fallthrough/id.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: fix format:check script (#25)
  package.json
Due: prettier --write

chore: Added playground to demo (#27)
  demo/playground.html
  demo/src/playground.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/converter.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

wip added fallthrough converters and ids
  package-lock.json
  packages/adapters/docx/package.json
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/id.ts
  packages/adapters/docx/src/element-converters/block/line.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/id.ts
  packages/adapters/docx/src/element-converters/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat(docx): cleanup, added convters, added id converter
  eslint.config.js
  package-lock.json
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/package.json
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/line.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/README.md
  packages/adapters/docx/src/element-converters/fallthrough/id.ts
  packages/adapters/docx/src/element-converters/inline/link.ts
  packages/adapters/docx/src/element-converters/inline/text.ts
  packages/adapters/docx/src/element-converters/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: added comments
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/README.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: changed variable names
  packages/core/src/registry/converter.registry.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

feat: made adapters configurable
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/docx.types.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/core/src/converter.ts
  packages/core/src/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

Refactor docx adapater (#28)
  eslint.config.js
  package-lock.json
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/package.json
  packages/adapters/docx/src/docx.adapter.ts
  packages/adapters/docx/src/docx.types.ts
  packages/adapters/docx/src/element-converters/block/heading.ts
  packages/adapters/docx/src/element-converters/block/line.ts
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/block/paragraph.ts
  packages/adapters/docx/src/element-converters/block/table.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/fallthrough/id.ts
  packages/adapters/docx/src/element-converters/inline/link.ts
  packages/adapters/docx/src/element-converters/inline/text.ts
  packages/adapters/docx/src/element-converters/types.ts
  packages/core/src/converter.ts
  packages/core/src/registry/converter.registry.ts
  packages/core/src/types.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

docs: update documentation for extra converters
  README.md
  demo/src/index.ts
  docs/docs/api/converters.md
  docs/docs/api/html-to-document.md
  docs/docs/api/init.md
  packages/adapters/docx/README.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

fix: lint error fix
  packages/adapters/docx/README.md
Due: prettier --write

docs: update documentation for extra converters (#30)
  README.md
  demo/src/index.ts
  docs/docs/api/converters.md
  docs/docs/api/html-to-document.md
  docs/docs/api/init.md
  packages/adapters/docx/README.md
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: switch package manager to bun
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  CONTRIBUTING.md
  bun.lock
  demo/package-lock.json
  demo/package.json
  demo/set-html-to-document-dep.cjs
  demo/tsconfig.json
  docs/package.json
  package-lock.json
  package.json
  packages/adapters/docx/README.md
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/package.json
  packages/adapters/docx/tsconfig.json
  packages/adapters/pdf/README.md
  packages/adapters/pdf/package.json
  packages/core/README.md
  packages/core/package.json
  packages/deconverters/pdf/package.json
  packages/deconverters/pdf/tsconfig.json
  packages/html-to-document/package.json
  packages/html-to-document/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: switch package manager to bun (#32)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  CONTRIBUTING.md
  bun.lock
  demo/package-lock.json
  demo/package.json
  demo/set-html-to-document-dep.cjs
  demo/tsconfig.json
  docs/package.json
  package-lock.json
  package.json
  packages/adapters/docx/README.md
  packages/adapters/docx/__tests__/docx.adapter.test.ts
  packages/adapters/docx/package.json
  packages/adapters/docx/tsconfig.json
  packages/adapters/pdf/README.md
  packages/adapters/pdf/package.json
  packages/core/README.md
  packages/core/package.json
  packages/deconverters/pdf/package.json
  packages/deconverters/pdf/tsconfig.json
  packages/html-to-document/package.json
  packages/html-to-document/tsconfig.json
  tsconfig.base.json
  turbo.json
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: add changeset dependencies for versioning and changelog generation
  .changeset/config.json
  bun.lock
  package.json
Due: prettier --write

chore: update dependencies to use workspace:* for html-to-document-core
  packages/adapters/docx/package.json
  packages/adapters/pdf/package.json
  packages/deconverters/pdf/package.json
Due: prettier --write

chore: update html-to-document-core dependency to use workspace:* in bun.lock
  bun.lock
Due: none

chore: update versions and changelogs for adapters and core packages to 0.4.0 and 0.1.1
  packages/adapters/docx/CHANGELOG.md
  packages/adapters/docx/package.json
  packages/adapters/pdf/CHANGELOG.md
  packages/adapters/pdf/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deconverters/pdf/CHANGELOG.md
  packages/deconverters/pdf/package.json
  packages/html-to-document/CHANGELOG.md
  packages/html-to-document/package.json
Due: prettier --write

ci: refactor release workflow to simplify steps and improve clarity
  .github/workflows/release.yml
Due: none

chore: update html-to-document-core and adapter-docx dependencies to version 0.4.0
  packages/adapters/docx/package.json
  packages/html-to-document/package.json
Due: prettier --write

chore: update version to 0.4.1 and fix dependency issues in changelogs
  packages/adapters/docx/CHANGELOG.md
  packages/adapters/docx/package.json
  packages/html-to-document/CHANGELOG.md
  packages/html-to-document/package.json
Due: prettier --write

fix: correct typo in html-to-document-adapter-docx dependency name
  packages/html-to-document/package.json
Due: prettier --write

chore: update lock file
  bun.lock
Due: none

fix: lint issues
  packages/adapters/docx/src/element-converters/block/list.ts
  packages/adapters/docx/src/element-converters/converter.ts
  packages/adapters/docx/src/element-converters/types.ts
  packages/adapters/pdf/src/pdf.adapter.ts
  packages/core/src/style.mapper.ts
  packages/core/src/utils/html.serializer.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: added e2e tests package
  bun.lock
  jest.config.js
  package.json
  packages/e2e-tests/__tests__/docx.test.ts
  packages/e2e-tests/__tests__/init.test.ts
  packages/e2e-tests/__tests__/utils/parser.helper.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/src/index.ts
  packages/e2e-tests/tsconfig.json
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: formatting
  packages/core/__tests__/parser.test.ts
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: added e2e tests package (#31)
  bun.lock
  jest.config.js
  package.json
  packages/core/__tests__/parser.test.ts
  packages/e2e-tests/__tests__/docx.test.ts
  packages/e2e-tests/__tests__/init.test.ts
  packages/e2e-tests/__tests__/utils/parser.helper.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/src/index.ts
  packages/e2e-tests/tsconfig.json
Due: eslint --fix, prettier --write, npm test -- --findRelatedTests

chore: update version to 0.4.2 and add documentation changes in changelog
  packages/html-to-document/CHANGELOG.md
  packages/html-to-document/package.json
Due: prettier --write

chore: switch to pnpm
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  bun.lock
  package.json
  packages/adapters/docx/README.md
  packages/adapters/pdf/README.md
  packages/core/README.md
  packages/html-to-document/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  npm test -- --findRelatedTests: any of: *.{js,jsx,ts,tsx}
